#nginx:
#   location / {
#       index index.php;
#       if (!-e $request_filename) {
#           rewrite  ^/.*$  /index.php  last;
#           break;
#       }
#   }


#Apache:
RewriteEngine On
RewriteRule ^\. - [F]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.js
RewriteRule .* index.php